<div class="jumbotron">
  <h1><%= (t 'generic.contact_list') %></h1>
    <p>
      Gerencie seus contatos em qualquer lugar!
    </p>
    <p>
      <%= link_to (t 'generic.create_account'), new_user_path, class: 'btn btn-primary btn-lg'%>
    </p>
</div>
